<div class="instamatic-view">
  <!--<ul data-ng-repeat="item in instamaticCtrl.igData">-->
    <!--<li><h3>{{ item.user.username }}</h3></li>-->
    <!--<li>-->
      <!--<em>-->
        <!--<span data-ng-repeat="tag in item.tags">#{{ tag }}</span>-->
      <!--</em>-->
    <!--</li>-->
    <!--<li>-->
      <!--<img data-ng-src="{{ item.images.low_resolution.url }}"/>-->
    <!--</li>-->
    <!--<li>-->
      <!--<h2>{{ item.caption.text }}</h2>-->
    <!--</li>-->

  <!--</ul>-->
  <!--<section class="l-content-container cycleAnimation" ng-if="app.cycleAnimation" data-ng-repeat="item in instamaticCtrl.igData">-->
  <section class="l-content-container" data-ng-repeat="item in instamaticCtrl.igData">

    <div class="l-bg-image">
      <img data-ng-src="{{ item.images.low_resolution.url }}"/>
    </div>

    <div class="l-content-copy">
      <h3>{{ item.user.username }}</h3>

      <br/>

      <small data-ng-repeat="tag in item.tags">#{{ tag }}</small>

      <p>{{ item.caption.text }}</p>


    </div>


  </section>



</div>
